<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sacherus.partynow"
    android:versionCode="1"
    android:versionName="1.0" >

    <uses-sdk
        android:minSdkVersion="15"
        android:targetSdkVersion="17" />

    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />

    <permission
        android:name="com.sacherus.partynow.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="com.sacherus.partynow.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />

    <!-- Required OpenGL ES 2.0. for Maps V2 -->
    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:allowBackup="true"
        android:icon="@drawable/ic_launcher"
        android:label="@string/app_name" >
        <activity
            android:name="com.sacherus.partynow.activities.TestActivity"
            android:label="@string/app_name" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.LoginActivity"
            android:label="@string/title_activity_login"
            android:windowSoftInputMode="adjustResize|stateVisible" >
        </activity>
        <activity
            android:name="shit.TestActivity"
            android:label="@string/title_activity_test" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.PartiesMenu"
            android:label="@string/title_activity_parties_menu" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.Parties"
            android:label="@string/title_activity_parties" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.PartyActivity"
            android:label="@string/title_activity_add_party" >
        </activity>

        <provider
            android:name="com.sacherus.partynow.provider.SimplePartyNowContentProvider"
            android:authorities="com.sacherus.partynow" />

        <service android:name="com.sacherus.partynow.rest.RestService" >
        </service>

        <activity
            android:name="com.sacherus.partynow.activities.RegisterActivity"
            android:label="@string/title_activity_register" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.PartyDetailsActivity"
            android:label="@string/title_activity_party_details" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.DisplayActivity"
            android:label="@string/title_activity_display" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.MapActivity"
            android:label="@string/title_activity_map" >
        </activity>

        <meta-data
            android:name="com.google.android.gms.version"
            android:value="@integer/google_play_services_version" />
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyCJ3Ig-xmtNoozqoYBGexNUl2LWTYdm3FQ" />

        <receiver android:name="com.sacherus.partynow.activities.AlarmManagerBroadcastReceiver" >
        </receiver>

        <activity
            android:name="com.sacherus.partynow.activities.SettingsActivity"
            android:label="@string/title_activity_settings" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.BaseActivity"
            android:label="@string/title_activity_base" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.UsersActivity"
            android:label="@string/title_activity_main" >
        </activity>
        <activity
            android:name="com.sacherus.partynow.activities.GeoCoderActivity"
            android:label="@string/app_name" >
        </activity>
    </application>

</manifest>